// To be used with https://feathericons.com/
@mixin feather-icons($modifier: null) {
    @if $modifier {
        $modifier: "\\@#{$modifier}";
    }

    @each $key, $value in $font-sizes {
        .o-icon-#{$key}#{$modifier} {
            width           : $value;
            height          : $value;
        }
        .o-icon--bold#{$modifier} {
            stroke-width: 3;
        }
    }
}

[class^="o-icon"] {
    width           : 2.4rem;
    height          : 2.4rem;
    stroke          : currentColor;
    stroke-width    : 2;
    stroke-linecap  : round;
    stroke-linejoin : round;
    fill            : none;
    vertical-align  : middle;
}
.o-icon {
    &--bold {
        stroke-width: 3;
    }
    &--full {
        stroke  : unset;
        fill    : currentColor;
    }
}

@include feather-icons();

$bp-name-up    : null;
$bp-value-up   : null;
$bp-context     : 16px;

@each $bp-name, $bp-value in $breakpoints {
    @if index($breakpoints, ($bp-name $bp-value)) == 1 {
        @media (min-width: $bp-value + em(1px, $bp-context)) {
            @include feather-icons("#{$bp-name}-plus");
        }
    }

    @if index($breakpoints, ($bp-name $bp-value)) != 1 {
        @media (min-width: $bp-value + em(1px, $bp-context)) and (max-width: $bp-value-up) {
            @include feather-icons($bp-name-up);
        }
    }

    @if index($breakpoints, ($bp-name $bp-value)) == length($breakpoints) {
        @media (max-width: $bp-value) {
            @include feather-icons($bp-name);
        }
    }

    $bp-name-up    : $bp-name;
    $bp-value-up   : $bp-value;
}
