.c-social-links {
	position   : fixed;
	font-size  : 2.4rem;
	text-shadow: #000 .1rem 0 1rem;

	&__icon-wrapper {
		width        : 3.2rem;
		height       : 3.2rem;
		padding      : .5rem;
		border       : .1rem solid #fff;
		border-radius: 1.6rem;
		box-shadow   : 0 0 1rem #000;
	}

	&--ce {
        flex-flow   : column;
		top         : 85.5rem;
		left        : 21.5rem;
        font-family : 'Handel Gothic D Light';
		transform   : scale(.85);

		.c-social-links__link {
			margin-bottom: 1.2rem;

			&:first-child,
			&:nth-child(4) {
				margin-left: .5rem;
			}

			&--bouncing {
				animation: bounce-x 1.5s normal forwards;
			}
		}
	}

	&--h2 {
        flex-flow   : column;
		top         : 83.5rem;
		left        : 22rem;
        font-family : 'Handel Gothic D Light';
		transform   : scale(.85);

		.c-social-links__link {
			margin-bottom: 1.2rem;

			&:first-child,
			&:nth-child(4) {
				margin-left: .5rem;
			}

			&--bouncing {
				animation: bounce-x 1.5s normal forwards;
			}
		}
	}

	&--h2a {
        flex-flow   : column;
		top         : 80.5rem;
		left        : 39rem;
        font-family : 'Handel Gothic D Light';
		transform   : scale(.85);

		.c-social-links__link {
			margin-bottom: 1.2rem;

			&:first-child,
			&:nth-child(4) {
				margin-left: .8rem;
			}

			&--bouncing {
				animation: bounce-x 1.5s normal forwards;
			}
		}
	}

	&--h3,
	&--odst,
	&--reach {
		top        : 1.8rem;
		left       : 50%;
		transform  : translateX(-50%);
		font-family: 'Pathway Gothic One', sans-serif;

		.c-social-links__link--bouncing {
			animation: bounce-y 1.5s normal forwards;
		}

		&.c-social-links--2,
		&.c-social-links--4 {
			.c-social-links__link:first-child {
				transform: skew(0, 2.5deg);
			}
			.c-social-links__link:last-child {
				transform: skew(0, -2.5deg);
			}
		}

		&.c-social-links--3,
		&.c-social-links--4 {
			.c-social-links__link:nth-child(2) {
				margin-bottom: -1rem;
			}
		}

		&.c-social-links--4 {
			.c-social-links__link:nth-child(2) {
				transform: skew(0, 1deg);
			}

			.c-social-links__link:nth-child(3) {
				margin-bottom: -1rem;
				transform: skew(0, -1deg);
			}
		}
	}

	&--h5 {
		top        : .6rem;
		left       : 50%;
		transform  : translateX(-50%);
		font-family: 'Pathway Gothic One', sans-serif;

		.c-social-links__link--bouncing {
			animation: bounce-y 1.5s normal forwards;
		}

		&.c-social-links--2,
		&.c-social-links--4 {
			.c-social-links__link:first-child {
				transform: skew(0, .5deg);
			}
			.c-social-links__link:last-child {
				transform: skew(0, -.5deg);
			}
		}

		&.c-social-links--3,
		&.c-social-links--4 {
			.c-social-links__link:nth-child(2) {
				margin-bottom: -.4rem;
			}
		}

		&.c-social-links--4 {
			.c-social-links__link:nth-child(2) {
				transform: skew(0, 1deg);
			}

			.c-social-links__link:nth-child(3) {
				margin-bottom: -.4rem;
				transform: skew(0, -1deg);
			}
		}
	}

	&--menu {
		top        : 2.4rem;
		left       : 50%;
		transform  : translateX(-50%);
		font-family: 'Pathway Gothic One', sans-serif;

		.c-social-links__link--bouncing {
			animation: bounce-y 1.5s normal forwards;
		}
	}

  &--infinite {
    position : fixed;
    top      : 1rem;
    left     : 50%;
    transform: translateX(-50%);

    .c-social-links__icon-wrapper {
      background-color: transparent !important;
      opacity         : .2;
      transform       : scale(.8);
      animation       : infinite-icons 40s linear infinite;

      & > img {
        width: 3.2rem;
      }
    }

    &.c-social-links--4 .c-social-links__link:nth-child(2) {
      margin-bottom: -.4rem;
    }

    &.c-social-links--4 .c-social-links__link:nth-child(3) {
      margin-bottom: -.4rem;
    }

    .c-social-links__link {
      margin-left : .6rem;
      margin-right: .6rem;

      &:first-child .c-social-links__icon-wrapper,
      &:first-child span { animation-delay: 0s; }
      &:nth-child(2) .c-social-links__icon-wrapper,
      &:nth-child(2) span { animation-delay: 10s; }
      &:nth-child(3) .c-social-links__icon-wrapper,
      &:nth-child(3) span { animation-delay: 20s; }
      &:last-child .c-social-links__icon-wrapper,
      &:last-child span { animation-delay: 30s; }
    }

    span {
      position      : absolute;
      top           : 100%;
      left          : 0;
      width         : 100%;
      margin-top    : 1.6rem;
      color         : #b8dafb;
      font-size     : 1.8rem;
      font-family   : 'Ropa Sans';
      text-align    : center;
      letter-spacing: .1rem;
      text-shadow   : -.3rem -.3rem .1rem rgba(184, 218, 251, .25), .1rem .1rem .1rem rgba(255, 0, 0, .33);
      opacity       : 0;
      transform     : translate3d(2rem, 0, 0);
      animation     : infinite-social-network-texts 40s linear infinite;
    }
  }
}

@keyframes bounce-y {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-1.4rem)
    }

    60% {
        transform: translateY(-.7rem)
    }
}

@keyframes bounce-x {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0)
    }

    40% {
        transform: translateX(1.4rem)
    }

    60% {
        transform: translateX(.7rem)
    }
}

@keyframes infinite-icons {
	0%, 25.75%, 100% {
		opacity: .2;
		transform: scale(.8);
	}
	0.75%, 25% {
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes infinite-social-network-texts {
	0% {
		opacity: 0;
		transform: translate3d(2rem, 0, 0);
	}
	0.75%, 25% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	25.75%, 100% {
		opacity: 0;
		transform: translate3d(-2rem, 0, 0);
	}
}
